.upload_block {
	border: 1px solid grey;
	padding: 10px;
	margin: 10px 0 10px 0;
}

.upload_title {
	font-size: 100%;
	font-weight: bold;
}

.upload_text {
	margin-bottom: 10px;
}

.upload_size {
	font-size: 90%;
	margin-bottom: 10px;
}